@{
    ViewData["Title"] = "Index";
}
<div>
<h1>Create</h1> <br/>
</div>

<form method="post">
  <div class="row mb-4">
    <div class="col-sm-5">
      <div class="form-outline mb">
        <input type="text" id="form3Example1" name="name" class="form-control" />
        <label class="form-label" for="form3Example1">Name:</label>
      </div>
    </div>
  </div>

<!-- Email input -->
    <div class="row mb-4">
        <div class="col-sm-5">
            <div class="form-outline mb">
                <input type="email" id="form3Example3" name="email" class="form-control" />
                <label class="form-label" for="form3Example3">Email:</label>
            </div>
        </div>
    </div>


  <!-- Password input -->
    <div class="row mb-4">
        <div class="col-sm-5">

              <div class="form-outline mb">
                <input type="password" id="form3Example4" name="password" class="form-control" />
                <label class="form-label" for="form3Example4">Password:</label>
              </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-sm-5">

            <div class="form-outline mb">
                <input type="password" id="form3Example4" name="ConfirmPassword" class="form-control" />
                <label class="form-label" for="form3Example4">Confirm Password:</label>
            </div>
        </div>
    </div>

    <div class="col-12 pb-5">
        <label class="form-check-label" for="inlineCheckbox1">Gender:</label>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineCheckbox1" name="Gender" value="Male">
            <label class="form-check-label" for="inlineCheckbox1">
                Male
            </label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineCheckbox2" name="Gender" value="Female">
            <label class="form-check-label" for="inlineCheckbox2">
                Female
            </label>
        </div>
    </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
</form>

@*@model MyProject.Models.Address
*@
  @*<address>
      Name: @Model.Name<br />
      Email: @Model.Id<br /> <br />

  </address>*@