@{
    ViewData["Title"] = "Profile";
}


@model MyProject.Models.Address
<div>
    <h2 style="margin-left:140px;">My Profile</h2>
</div>

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="UpdateData">
<div class="container" >
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="/image/@Model.Image" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h2>@Model.Name</h2>
                                <p class="text-muted font-size-sm">@Model.HomeTown</p>
                                <p class="text-muted font-size-sm">@Model.Phone</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>

                            <a href="https://github.com/"></a>
                        </li>
                       
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                            <span class="text-secondary"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                            <span class="text-secondary"></span>
                        </li>
                    </ul>
                </div>
            </div>  

            <div class="col-md-8" enctype="multipart/form-data" asp-controller="Home" asp-action="UpdateData">
                <div class="card mb-3" >
                    <div class="card-body">
                        <div class="mb-3 row">
                            <div class="col-sm-5">
                                <input type="hidden" class="form-control" asp-for="Id">
                            </div>
                        </div>


                        <div class="mb-3 row">
                            <label for="Name" class="col-sm-2 col-form-label">Name:</label>
                            <div class="col-sm-5">
                                <input type="text" id="form3Example1" asp-for="Name" class="form-control" />
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="mb-3 row">
                                <label for="Email" class="col-sm-2 col-form-label">Email:</label>
                                <div class="col-sm-10">
                                    <input type="text" id="form3Example1" asp-for="Email" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <hr>
                        

                        <div class="row">
                            <div class="mb-3 row">
                                <label for="Phone" class="col-sm-2 col-form-label">Phone:</label>
                                <div class="col-sm-10">
                                    <input type="text" id="form3Example1" max="9" maxlength="10" pattern="[0-9]+" asp-for="Phone" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="mb-3 row">
                                <label for="Address" class="col-sm-2 col-form-label">Address:</label>
                                <div class="col-sm-10">
                                    <input type="text" id="form3Example1" asp-for="HomeTown" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <hr/>

                            <div class="row">
                               <div class="mb-3 row">
                                    <label class="col-sm-2 col-form-label" for="form3Example3">Password:</label>
                                    <div class="col-sm-10">
                                         <input type="password" id="form3Example3" name="Password" class="form-control" />
                                    </div>
                               </div>
                            </div>
                            <hr/>


                        <div class="row">
                             <div class="mb-3 row">
                                  <div class="mb-3 row">
                                      <label for="formFileSm" class="form-label">Image:</label>
                                      <input class="form-control form-control-sm" id="formFileSm" asp-for="Image" type="file">
                                  </div>
                             </div>
                        </div>
                        <hr />

                            <div class="col-12 pb-5">
                                <label class="form-check-label" for="inlineCheckbox1">Gender:</label>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="inlineCheckbox1" asp-for="Gender" name="Gender" value="Male">
                                    <label class="form-check-label" for="inlineCheckbox1">
                                        Male
                                    </label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="inlineCheckbox2" asp-for="Gender" name="Gender" value="Female">
                                    <label class="form-check-label" for="inlineCheckbox2">
                                        Female
                                    </label>
                                </div>
                            </div>


                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
        
</form>